@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins";
@import "variables";

.card {
	font-size: 1.1em;
}

.card-brand {
	background-color: $theme-background-dark;
	border-color: $theme-background-dark;
  color: $font-color-inverse;
}

.error-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    margin-top: 1em;
    margin-bottom: 0;
  }
}