@import "../js/libraries/bootstrap/scss/variables";
@import "../js/libraries/bootstrap/scss/mixins";
@import "variables";

.form-control {
	
}

.form-group {
	.alert {
		margin: 1em 0;
	}
}

.form-btn-row {
	margin-top: 2em;

	.btn:not(:first-child) {
		margin-right: 1em;
	}
}