@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins";
@import "variables";

.btn {
	transition: all $transition-speed $transition-ease;
}

.btn .glyphicons {
	font-size: inherit;
	line-height: inherit;
}

.btn .glyphicons:first-child {
	margin-right: 1rem;
}

.btn .glyphicons:only-child {
	margin-right: 0;
}

.btn-lg .glyphicons {
	font-size: 1.35rem;
}

.btn-clear {
	background-color: transparent;
	color: #fff;
}

.btn-clear:hover {
	background-color: rgba(255, 255, 255, .2);
}

.btn:focus {
	outline:0;
}

.btn-primary {
  @include button-variant($font-color-inverse, $brand-primary, $brand-primary);
}