@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins";
@import "variables";

.card {
	font-size: 1.1em;
}

.card-brand {
	background-color: $theme-background-dark;
	border-color: $theme-background-dark;
  color: $font-color-inverse;
}