@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins";
@import "variables";

.card {
	font-size: 1.1em;
}

.card-dark {
	background-color: #222222;
	border-color: #222222;
}