@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins";
@import "variables";

.glyphicons {
  font-size: inherit;
  line-height: inherit;	
}

h1 .glyphicons:first-child:not(:only-child) {
  margin-right: .25em
}