$body-bg-color: #fcfcfc;

$nav-open-color: rgba(0,0,0,.85);
$nav-link-color: #fafafa;
$nav-link-active-color: #f47c6f;
$nav-link-color-scrolled: #fafafa;
$nav-bg-transparancy: rgba(0, 0, 0, .35);

$transition-speed: 170ms;
$transition-ease: ease-in;