@import "../libraries/bootstrap/scss/variables";
@import "../libraries/bootstrap/scss/mixins";
@import "variables";

html {
	font-size: 15px;
}

body {
	background: $body-bg-color;
	font-family: 'Lato', sans-serif;
}

.app {

}

@media only screen and (max-device-width: 1024px) {
	html {
		font-size: 25px;
	}
}

@media only screen and (max-device-width: 1024px) and (orientation : landscape) {
	html {
		font-size: 15px;
	}
}

@import "buttons";
@import "glyphicons";
@import "nav";
@import "footer";
@import "home";